html
    head
        title MyApp
    body(class=["myApp"])
        //h1(id='myId')= title
        h1(id='myId') Library
        p
            h3 sub header
        ul  
            each val in list
                li= val    